@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
body{
  font-family: "Playwrite AU SA", serif;
font-optical-sizing: auto;
font-style: normal;
}
body {
height: 100vh;
width: 100vw;
margin: 0;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 100vw;
    position: fixed;
    margin: 0;
    z-index: 15;
}
.element-style{
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;
}
#style-montre{
  display: block;;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start:0px;
  unicode-bidi: isolate;
  list-style-type: none;
}
h2{
  font-size: 70px;
  color: rgb(255, 167, 24);
  font-weight: 800;
  position: absolute;
}
.titreh{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-name{
  display: flex;
  align-items: center;
}
.intro{
  color: black;
  font-size: 20px;
  width: 50%;
  font-weight: 100;
}
.nav-list{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
}
.navcom {
  text-decoration: none;
  color: white;
  font-size: 15px;
margin: 15px;
}
#logon{
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo{
  height: 70px;
  border-radius: 50%;
  margin: 50px;
  border-bottom: 2px solid black;
}
.phototypemontre{
  width: 100vw;
  margin: 0;
  padding: 0;
}
.tmontre{
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}

#information{
  margin: 50px;
  display: flex;
  justify-content: space-around;
}
#search{
  border-style: none;
  border-radius: 25px;
  background-color: white;
  color: black;
  width: 70px;
  height: 40px;
}
#typesearch{
  border-radius: 25px;
  width: 150px;
  height: 15px;
}
.footercontent{
  height: fit-content;
  font-size: 10px;
}
.titre{
  font-weight: 400;
  font-size: 15px;
}
.mlogo{
  width: 100vw;
  display: flex;
  justify-content: space-around;
margin-bottom: 50px;
}
h1{
  color: green;
  font-size: 50px;
}
.footercontents{
  width: 50px;
height: 50px;
text-decoration: none;
color: white;
}
.rs{
  display: flex;
  justify-content: space-around;
}
footer{
  background-color: black;
  height: fit-content;
  width: 100vw;
  color: white;
  margin: 0;
}
@media (max-width: 990px) {
  h2{
    font-size: 40px;
  }
  h1{
    font-size: 20px;
  }
  .intro{
    font-size: 10px;
  }
  #information{
    display: block;
  }
  .rs{
    display: flex;
    justify-content:flex-start;
  }
  .mlogo{
    display: block;
  }
}
@media (max-width: 450px) {
  h2{
    font-size: 20px;
  }
  h1{
    font-size: 20px;
  }
  .intro{
    font-size: 10px;
  }
  .titreh{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 10px;

  }
  .footercontent{
    font-size: 5px;
  }
  .footercontents{
    font-size: 10px;
  }
  .logo-name{
    display: none;
  }
}
@media (max-width: 675px) {

  nav .nav-list {
      display: grid;
      position: absolute;
      background: #000000;
      width: 50%;
      top: 0;
      right: 0;
      transform: translateY(-100%);
      z-index: -1;
      transition: .6s;
  }

  nav .nav-list .nav-item {
      padding-left: 35px;
  }

  nav .navbar-toggler {
      display: grid !important;
  }

}

nav .navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px 0px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #d9d9d9;
  margin-right: 30px;
  border-radius: 10%;
  transition: .4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  background-color: red;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
  background-color: red;
}