/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");
/*=============== CARD ===============*/
.container {
    width: 100vw;
    height: 400px;
 margin: 50px 0 100px 0;
}
.card__article {
    /* Remove after adding swiper js */ 
  border-radius: 25px;

  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  transform: rotateX('-45deg');
  transition: 0.4s ease;
  padding: 0;

}
.card__image {
  display: flex;
  justify-content: center;
  align-items: center;

}
.card__img {
   width: 50%;
    z-index: 10;
    border-radius: 50px;
  }
.card__article:hover{
    color: rgb(0, 0, 0);
    background: rgb(11, 11, 11);
}




.card__logo {
    width: 200px;
    border-radius: 70px;

}
.card__text{
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:baseline;
    margin: 50px  ;
    
}
.card__description {
  font-weight: 100;
font-size: 25px;
  color: white;
}
.card__button{
    /* position: relative; */
    z-index: 10;
    width:100px;
    height: 50px;
}
.card__btn{
    color: white;
    text-decoration: none;
}

.card__button {

  background-color:red;
  border-radius: 50px;
  font-weight: 600;
}
@media (max-width: 990px) {
  .card__article{
  display: flex;
  flex-direction: column;
 }
 .container{
  margin-bottom: 300px;
 }
 .card__shadow {
right: 0px;
 }

}
@media (max-width: 450px) {
  .card__description{
    font-size: 10px;
  }
  .card__logo{
    width: 100px;
  }
  .card__button{
    width: 50px;
    height: 25px;

  }
  .card__btn{
    font-size: 9px;
  }
  .card__article{
    height: 450px;
    width: 100vw;
    margin: 0;
  }
}

